{% extends 'layouts/form.html' %}
{% block title %}Register{% endblock %}
{% block content %}
    <form method="post" class="form">
        <h3 class="form-heading">Register <a href="{{ url_for('routes.home') }}" title="Back to homepage"><i
                class="fa fa-home pull-right"></i></a></h3>
        {{ form.name(class_ = 'form-control first-input', placeholder="Name", required = true, autofocus = true) }}
        {{ form.email(class_ = 'form-control', placeholder = "Email", required = true) }}
        {{ form.password(class_ = 'form-control', placeholder="Password", required = true) }}
        <p class="pull-left"><a href="{{ url_for('auth.login') }}">Login</a></p>
        <input type="submit" value="Register" class="btn btn-primary btn-lg btn-block">
    </form>
{% endblock %}
